body {
    background-color: #2A2550;

    text-align: center;
}

.lines {
    margin: 0;
}

div {
    margin-bottom: 50px;
}

.hovering {
    background-color: #251D3A;
    height: 20%;
    margin-bottom: 0px;
}
.hovering:hover {
    background-color: #FF7700;
}
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60;
    color: wheat;
}


a:hover {
    color: white;
    font-size: larger;
     
}


h1 {
    font-family: 'Varela Round', sans-serif;;
    font-size: 50;
    letter-spacing: 2px;
    color: wheat;
}



img {
    border: 60;
    border-color: #E04D01;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat;
     
}

h3:hover {
    color: white;
     
}


ul, ol {
    padding: 0;
    margin-bottom: 0;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: wheat;
}

p {
    font-family: 'Macondo', cursive;;
    font-size: large;
    color: wheat;
    margin-bottom: 0;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.iframe-container {
    background-color: #E04D01;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 40%; 
    height: 0;

}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

td {
    text-align: left;
}

td:hover {
    color: bisque;
}